@tailwind components;

#linkStyle{
    @apply
    flex
    text-brandRedText
    text-center;
}

/* Smaller Screen Layout */
/* Contains Input for email and back to login link */
.divWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 20px;
    gap: 15px;
    margin-bottom: 220px;
}

/* Larger Screens layout */
@media screen and (min-width: 1200px) {
    .divWrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        grid-column: 20px;
        gap: 10px;
        margin-bottom: 220px;
    }
}