/* smaller screens */
.containerInputButtons
{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 20%;
  background-color: #300101;
  border-radius: 25px;
  padding: 5px;
  width: clamp(400px, 60%, 400px);
  min-height: 100px;
  max-width: 350px;
  gap: 10px;
}

/* larger screens */
@media screen and (min-width: 1200px)
{
  .containerInputButtons
  {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 0%;
    padding: 0px 0px 20px 0px;
    background-color: #300101;
    border-radius: 25px;
    width: 100%;
    min-width: fit-content;
    min-height: 100px;
  }
}

