
/* Smaller Screen Layout */
/* div for "forgot password" link */
#divForgotPswd
{
  display:flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  padding: 10px 0px 30px 0px;
  margin-bottom: 20px;
  min-width: 100px;
  color: #9A0707;
}

/* Larger Screen layout  */
@media screen and (min-width: 1200px) {
  #divForgotPswd
  {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    padding: 5px 0px 25px 0px;
    margin-bottom: 0.25%;
    min-width: 100px;
    color: #9A0707;
  }
}