input
{
  background-color: #300101;
  text-align: center;
  color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 20px 0px;
  flex-grow: 1;
  width: 55%;
  max-width: 350px;
}

#emailInputStyle{
  background-color: #300101;
  text-align: center;
  color: #d9d9d9;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 20px 0px;
  flex-grow: 1;
  width: 110%;
  max-width: 350px;
}

.containerInputCreds
{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 10%;            
  padding: 20px 0px 20px 0px;
} 