#root
{
  background-color: #100C0C;
  height:100vh;
}

.NavBarContainer
{
  background-color: #300101;
  border-radius: 45px;
  height: fit-content;
}

.powerPingLogo{
  color: #8c8c8c;
  vertical-align: top;
  align-items: center;
  text-align: center;
  padding: 25px 25px 25px 25px; 
  margin: 0;
}